/* Variables */
:root {
	/* Colors */
	--text: #323232;
	--bg:   #FFFFFF;

	--color:    #1F6346;
	--colorDim: #9EE1C4;

	--option: rgba(0, 0, 0, 3%);
	--hover:  rgba(127, 127, 127, 15%);
	--active: rgba(127, 127, 127, 25%);

	--input: #FCFCFC;

	--textFilter: saturate(0) brightness(0);


	/* Sizes */
	--rem:     18px;
	--button:  2rem;
	--code:    0.75rem;
	--margin:  1rem;
	--circle:  0.75rem;
	--optionW: 30rem;
	--optionH: calc(var(--rem) * 2);
	--buttonW: calc(var(--rem) * 3);
	--codeY:   30rem;


	/* Transitions */
	--transition: 0.25s;
}
@media (prefers-color-scheme: dark) {
	:root {
		/* Colors */
		--text: #EEEEEE;
		--bg:   #292A2D;

		--colorDim: #123A29;

		--option: rgba(0, 0, 0, 10%);
		--hover:  rgba(127, 127, 127, 10%);
		--active: rgba(127, 127, 127, 20%);

		--input: #1E1F21;

		--textFilter: saturate(0) brightness(100);
	}
}


/* Fonts */
@font-face {
	font-family: raleway;
	src: url('/assets/raleway.ttf') format('truetype');
	font-display: block;
}
@font-face {
	font-family: sourceCodePro;
	src: url('/assets/sourceCodePro.ttf') format('truetype');
	font-display: block;
}


/* Fixes */
* {
	margin: 0;
	padding: 0;
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
input {
	background: none;
	border: none;
}
body {
	user-select: none;
}


/* General */
.hidden, .option.hidden {
	display: none;
}
html {
	font-size: var(--rem);
	display: flex;
	justify-content: center;
}
body {
	color: var(--text);
	background-color: var(--bg);
	font-family: raleway, sans-serif;
	font-size: inherit;
	margin: var(--margin);
}
.relative {
	position: relative;
}
::-webkit-scrollbar {
	width: 0;
	height: 0;
}
::selection {
	color: var(--text);
	background-color: var(--colorDim);
}


/* Header */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: max-content;
}
header img {
	width: var(--margin);
	margin-right: calc(var(--margin) * 0.5);
}


/* Options */
.option {
	width: var(--optionW);
	cursor: pointer;
	display: flex;
	white-space: nowrap;
	align-items: center;
	justify-content: space-between;
	min-height: var(--optionH);
	padding-left: var(--margin);
	padding-right: var(--margin);
	background-color: var(--option);
	transition: background-color var(--transition);
}
.option:hover, .option:focus-visible, .option:has(:focus-visible), button:focus-visible {
	background-color: var(--hover);
}
.option:focus-visible, .option:has(:focus-visible), button:focus-visible {
	box-shadow: inset 0.25rem 0 0 var(--color);
}
.option:active {
	background-color: var(--active);
}
.option:first-child {
	margin-top: var(--margin);
}
.option.noClick {
	background-color: var(--option);
	cursor: default;
}


/* All Inputs */
input, button {
	color: var(--text);
	font-family: raleway;
	font-size: inherit;
}


/* Text */
input[type='text'] {
	cursor: text;
}
input[type='text']:hover, input[type='text']:focus {
	background-color: var(--option);
}


/* Button */
button, ::-webkit-search-cancel-button {
	width: var(--buttonW);
	height: var(--optionH);
	background-position: center;
	background-size: 37.5%;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	top: 0;
	transition: background-color var(--transition);
}
button {
	font-size: var(--button);
	border: none;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
button:hover {
	background-color: var(--hover);
}
button:active {
	background-color: var(--active);
}
button.add {
	background-image: url('/assets/add.svg');
}
button.remove {
	background-image: url('/assets/clear.svg');
}


/* Search */
input[type='search'] {
	cursor: text;
	box-sizing: content-box;
}
input[type='search']:hover, input[type='search']:focus {
	background-color: var(--option);
}
::-webkit-search-cancel-button {
	-webkit-appearance: none;
	background-image: url('/assets/clear.svg');
	right: 0;
	margin: 0;
}
::-webkit-search-cancel-button:hover {
	background-color: var(--hover);
}
::-webkit-search-cancel-button:active {
	background-color: var(--active);
}


/* Emails */
#emails {
	margin-top: var(--margin);
}
.email .option {
	margin-top: 0;
}
